!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title Hiring Hero
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')

  %body
    .container-full
      %p.alert.alert-info{:role => "alert"}= get_flash(@conn, :info)
      %p.alert.alert-danger{:role => "alert"}= get_flash(@conn, :error)
      = render Hiringhero.Shared, "header.html", current_user: @current_user, conn: @conn
      .row
        .col-md-2.no-padding-right
          = render Hiringhero.Shared, "sidebar.html", current_user: @current_user, conn: @conn
        .col-md-10
          %main{:role => "main"}
            = render @view_module, @view_template, assigns
    %script{:src => "#{static_path(@conn, "/js/app.js")}"}

