%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="")
    %meta(name="author" content="")
    %title Hiring Hero
    %link(rel="stylesheet" href='#{static_path(@conn, "/css/app.css")}')
    %link(rel="shortcut icon" type="image/png" href='#{static_path(@conn, "/images/favicon.ico")}')

  %body
    #wrapper
      %p.alert.alert-info{:role => "alert"}= get_flash(@conn, :info)
      %p.alert.alert-danger{:role => "alert"}= get_flash(@conn, :error)
      = render Hiringhero.Shared, "header.html", current_user: @current_user, conn: @conn
      #page-wrapper
        .row
          .col-md-12
            %main{:role => "main"}
              = render @view_module, @view_template, assigns
      = render Hiringhero.Shared, "footer.html", current_user: @current_user, conn: @conn
    %script{:src => "#{static_path(@conn, "/js/app.js")}"}
