%br
%ol.breadcrumb
  %li
    %a{:href => "/"} Home
  %li.active Interviewees

%h3 Interviewees
.row
  .col-md-8
    = form_tag(interviewee_path(@conn, :invite), class: "form-inline")
      .form-group
        = tag :input, type: :text, name: "name", placeholder: "Name", class: "form-control input-sm", required: true
      .form-group
        = tag :input, type: :email, name: "email", placeholder: "Email", class: "form-control input-sm", required: true
      = tag :input, type: :submit, value: "Send invitation", class: "btn btn-sm"

%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th
      %th
  %tbody
    - for interviewee <- @interviewees do
      %tr
        %td= interviewee.name
        %td= interviewee.email
        %td= is_owner(interviewee, @current_organisation)
        %td.text-right
          - link to: "#", method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" do
            %span.glyphicon.glyphicon-trash
