%br
%ol.breadcrumb
  %li
    %a(href="/app") Home
  %li
    = link "Interview Stages", to: stage_path(@conn, :index)
  %li.active
    = @stage.name

.bs-component
  .panel.panel-default
    .panel-heading
      %h3.panel-title= @stage.name
    .panel-body
      %ul
        %li
          %strong Name:
          = @stage.name
        %li
          %strong Description:
          = @stage.description
