%br
%ol.breadcrumb
  %li
    %a{:href => "/"} Home
  %li
    = link "Interview Stages", to: stage_path(@conn, :index)
  %li.active
    = @stage.name

%h3= @stage.name
%ul
  %li
    %strong Name:
    = @stage.name
  %li
    %strong Description:
    = @stage.description
  %li
    %strong Organisation:
    = @stage.organisation_id

= link "Edit", to: stage_path(@conn, :edit, @stage)

