- form_for @changeset, @action, fn f ->
  - if @changeset.action do
    .alert.alert-danger
      %p Oops, something went wrong! Please check the errors below.

  .form-group
    = label f, :title, class: "control-label"
    = text_input f, :title, class: "form-control"
    = error_tag f, :title

  .form-group
    = label f, :type, class: "control-label"
    = text_input f, :type, class: "form-control"
    = error_tag f, :type

  .form-group
    = label f, :description, class: "control-label"
    = hidden_input f, :description, class: "form-control"
    %trix-editor{:input => "job_description"}
    = error_tag f, :description

  .form-group
    = submit "Submit", class: "btn btn-default btn-sm"
