%br
%ol.breadcrumb
  %li
    %a(href="/app") Home
  %li.active
    Job Board

%h3 Job Board

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th Title
      %th #Candidates
      %th Type
      %th Created
      %th
  %tbody
    - for job <- @jobs do
      %tr
        %td= link job.title, to: job_path(@conn, :edit, job)
        %td= candidates_count_for(job)
        %td= job.type
        %td= job.inserted_at
        %td.text-right.hh-actions(style="white-space: nowrap;")
          - link to: job_path(@conn, :delete, job), method: :delete, data: [confirm: "Are you sure?"], class: "small-trash", title: "Delete job" do
            %span.mdi-content-remove-circle-outline
          - link to: "/companies/#{@conn.assigns.current_organisation.subdomain}/jobs/#{job.id}", target: "_blank", title: "Preview public page" do
            %icon.mdi-action-open-in-new.hh-action-item.hh-action-blue
          - link to: job_path(@conn, :edit, job), title: "Edit job" do
            %icon.mdi-editor-mode-edit.hh-action-item.hh-action-blue

= link "New job", to: job_path(@conn, :new), class: "btn btn-sm btn-primary btn-raised"
