%br
%ol.breadcrumb
  %li
    %a{:href => "/"} Home
  %li
    = link "Job Board", to: job_path(@conn, :index)
  %li.active
    = @job.title

%h3 Show job
  %ul
    %li
      %strong Title:
        = @job.title
    %li
      %strong Description:
        = @job.description

= link "Edit", to: job_path(@conn, :edit, @job)
= link "Back", to: job_path(@conn, :index)
