%br
%ol.breadcrumb
  %li
    %a{:href => "/"} Home
  %li
    = link "Job Board", to: job_path(@conn, :index)
  %li.active
    = @job.title

%h3= @job.title
%strong Description:
= raw @job.description

= link "Edit", to: job_path(@conn, :edit, @job), class: "btn btn-sm btn-default"
