%nav.navbar.navbar-default.navbar-static-top(role: "navigation", style: "margin-bottom: 0")
  .navbar-header
    %button.navbar-toggle{data-target: '.navbar-collapse' data-toggle: 'collapse' type: 'button'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"}
      %span.logo

  %ul.nav.navbar-top-links.navbar-right
    %li.dropdown
      %a.dropdown-toggle{data-toggle: 'dropdown' href: '#'}
        = @current_user.name
        %i.fa.fa-caret-down
      %ul.dropdown-menu.dropdown-user
        %li
          %a{:href => "#{user_path(@conn, :show, @current_user)}"}
            Profile
        %li
          %a{:href => "#{user_path(@conn, :show, @current_user)}"}
            Company settings
        %li.divider
        %li
          = form_tag("/sessions")
            = tag(:input, type: "hidden", value: "delete", name: "_method")
            = content_tag(:button, "Sign out", class: "btn btn-link", type: "submit")

  = render Hiringhero.Shared, "sidebar.html", current_user: @current_user, conn: @conn
